@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Strona służy do podglądu listy zarejstrowanych pojazdów. Prosimy o nie rozpowszechnianie zawartych w niej informacji ;).</p>
